*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "helvetica Nueue"
}

html,body{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.card{
  background-color: pink;
  border-radius:10px;
  margin:10px;
  width:400px;
  text-align:center;
  height:100px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}